<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= link_to post.content.truncate(140, separator: /\s/), post %></span>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete, class: "btn btn-info btn-sm", data: { confirm: "You sure?" } %>
  <% end %>
  <p class="timestamp d-block">Posted <%= time_ago_in_words(post.updated_at) %> ago.</p>

</li>