<% provide(:title, "Post") %>

<div class="row">
  <aside class="col">
    <section class="post_info">
      <h3><%= link_to @post.user.name, @post.user %></h3>
      <p class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago.</p>
      <%= markdown(@post.content).html_safe %>
    </section>
    <%= form_for @post, url: append_post_path(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object  %>
      <div class="field">
        <%= f.text_area :addendum, placeholder: "Add post..." %>
      </div>
      <%= f.submit "Add", class: "btn-float btn btn-primary" %>
    <% end %>
  </aside>
</div>

<%= link_to "⬅️", session[:forwarding_url] || root_url, class: "btn-return btn btn-primary" %>
